/* GENERAL ================================================================= */

:root {
  font-size: 62.5%; /* 1rem = 10px */
  --primary-color: #00856f;
  --secondary-color: #dce9e2;
  --headline: #212529;
  --paragraph: #495057;

  --nav-height: 7.2rem; /* para somar na altura do header::before e na margin-top do header*/
}

/* aplica para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* classe colocada em volta do header e da div para aplicar margin, padding e width */
.wrapper {
  margin-inline: auto; /* margin-right e margin-left */
  padding-inline: 2.4rem; /* padding-right e padding-left */
  width: 37.5rem;
}

ul {
  list-style: none;
}

/* HEADER ================================================================= */

/* fundo verde claro */
header::before {
  content: '';

  width: 100%;
  height: calc(108rem + var(--nav-height)); /* soma com a altura da navbar */

  background: var(--secondary-color);

  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* joga para trás de index maiores */
}

header {
  margin-top: calc(
    4.1rem + var(--nav-height)
  ); /* soma com a altura da navbar */
}

header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);

  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.4rem;
  color: var(--headline);

  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

header button {
  border: none;
  border-radius: 4rem;

  width: 26.3rem;
  height: 6.2rem;

  background: var(--primary-color);

  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem; /* espaçamento entre os itens no display flex */

  margin-inline: auto;
  margin-bottom: 6rem;
}

header img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 0.1rem; /* mexe no objeto dentro da imagem, podendo "grudá-lo" na(s) borda(s)  */
}

.container {
  width: 32.7rem;
  padding-block: 4rem;
  background: #fffaf1;

  margin-inline: auto;

  border-radius: 0.6rem;
  border: 1px solid #dce9e2;

  display: flex;
  flex-direction: column; /* altera a disposição dos itens para em coluna */
  justify-content: center;
  gap: 6rem;
}

.stat {
  width: 16.7rem;
  height: 9rem;

  margin-inline: auto;
}

.stat h3 {
  font-size: 4.8rem;
  line-height: 130%;

  color: var(--headline);

  margin-bottom: 0.4rem;
}

.stat p {
  margin: 0;

  color: var(--primary-color);

  font-size: 1.6rem;
  line-height: 150%;
}

/* NAV ================================================================= */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed; /* posição fixa independente do scroll da página */
  top: 0;
  left: 50%;
  transform: translateX(
    -50%
  ); /* movimenta o elemento no eixo X, em % para não precisar ficar fazendo cálculos */
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* coloca um espaço entre os itens(máximo possível) */
}

nav.scroll {
  background: var(--primary-color);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  /* primeiro que encontrar */
  fill: white;
}

nav.scroll button path {
  /* segundo que encontrar */
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* MENUEXP ================================================================= */
body.menu-expanded {
  overflow: hidden; /* retira o que tiver transbordando da tela */
}

body.menu-expanded > :not(nav) {
  /* aplica o display none para todos os filhos do primeiro nível(>) exceto(:not()) o nav */
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  /* para não aparecer */
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  /* para aparecer */
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  /* quando o body tiver com a classe menu-expanded */
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
}

body.menu-expanded nav {
  /* quando o body tiver com a classe menu-expanded */
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  /* cor e decoração precisam ser aplicadas diretamente no elemento a */
  text-decoration: none;
  color: #fffaf1;
}

.menu .button {
  background: #ffffff;
  border-radius: 4rem;

  display: inline-block;

  padding: 16px 32px;
  margin-top: 4.8rem;
  margin-bottom: 8rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none; /* tira a decoração do texto */
  color: var(--primary-color);
}

.social-medias-links {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative; /* destrava o z-index */
  z-index: 1;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}
